In [1]:
import pandas as pd
import numpy as np

In [2]:
sales_data=pd.read_csv('Sales_dataset.csv')

In [3]:
sales_data

     Age  Salary  Status
0     18   82000       0
1     29   80000       0
2     47   25000       1
3     45   26000       1
4     46   28000       1
..   ...     ...     ...
395   35   65000       0
396   26   80000       0
397   26   52000       0
398   20   86000       0
399   32   18000       0

[400 rows x 3 columns]

In [4]:
sales_data.head()

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1

In [5]:
sales_data.shape

(400, 3)

In [6]:
X=sales_data.iloc[:,:-1]
Y=sales_data.iloc[:,-1]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [12]:
model.fit(X_train,y_train)

LogisticRegression()

In [13]:
z=model.predict(scaler.transform([[37,90000]]))
print('z')
if z==1:
    print('Buy')
else:
    print('not buy')

z
not buy

In [14]:
y_pred_test=model.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred_test)

array([[61,  0],
       [20, 19]], dtype=int64)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_test)

0.8