In [1]:
import numpy as np
import pandas as pd

In [17]:
survival_data=pd.read_csv('titanicsurvival.csv')

In [18]:

survival_data.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [19]:
survival_data.shape

(891, 5)

In [20]:
income_set=set(survival_data['Sex'])
survival_data['Sex']=survival_data['Sex'].map({'male':1,'female':0}).astype(int)

In [21]:
survival_data.head()

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0

In [22]:
X=survival_data.iloc[:,:-1]
Y=survival_data.iloc[:,-1]

In [25]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [27]:
X['Age']=X['Age'].fillna(X['Age'].mean())

In [28]:
X.columns[X.isna().any()]

Index([], dtype='object')

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [30]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [33]:
a=model.predict([[2,1,63.0,60.0]])
a

array([0], dtype=int64)

In [31]:
y_pred_test=model.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_test)

0.7757847533632287